# =========================
# Dependencies
# =========================
node_modules/
venv/
env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
*.pem
*.key

# =========================
# Build Outputs
# =========================
dist/
build/
out/
coverage/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Misc
# =========================
*.swp
*.swo
*.tmp
introduction_bioinformatics_PALOP_2026/Relatórios alunos/
taken_courses/machine_learning_integration_MultiOmics_Integration_materials/data/SingleCell/scatacseq_activity_matrix.txt
taken_courses/machine_learning_integration_MultiOmics_Integration_materials/data/SingleCell/pbmc_10k_v3.rds
